<header>
  <!-- <nav>
    <mat-toolbar class="color">
      <img class="nav__img" [src]="Logo" alt="Logo de Rick and Morty"/>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </nav> -->

    <mat-toolbar class="color">
      <nav class="nav">
        <img class="nav__img" [src]="Logo" alt="Logo de Rick and Morty"/>
        <ul class="nav__menu" >
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="characters">Characters</a></li>
          <li><a routerLink="episodes">Episodes</a></li>
        </ul>
      </nav>
    </mat-toolbar>

</header>

