$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #fff;
$on-base: #000;

$primary: #037175;
$dark:#003539;
$primary-light:#428d90;
$on-primary: #fff;

$secondary: #00bcd4;
$secondary-dark:#008ba3;
$secondary-light:#62efff;
$on-secondary: #fff;

$error: #b00020;
$on-error: #fff;

$success: #6CC492 ;
$on-success: #fff;
