.container_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main{
  width: 90%;;
  margin: 20px auto;
  margin-top: 80px;
}

.containerT{
  height: 90vh;
}

.main__character{
  font-size: 4rem;
  font-weight: 600;
  color: steelblue;
  text-align: center;
  margin-bottom: 50px;
}

.main__episodes{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-top: 40px;
  width: 100%;
}

.main__imgEpisodes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.5),  rgba(112, 2, 255, 0.397)), url(../../../../assets/img/episodes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center ;
  background-attachment: fixed;
}

.main__titletwo{
  font-size: 4rem;
  color: #fff;
  margin-bottom: 70px;
  filter: drop-shadow(3px 3px 7px navy);
}

.main__cta{
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  width: 220px;
  height: 70px;
  border-radius: 10px;
  border: none;
  color: rgb(174, 255, 255);
  font-size: 1.8rem;
  box-shadow: 2px 2px 10px orange;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .7s;
}

.main__cta:hover {
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 10%, #56317a 150%);
  color:#fff

}

@media screen and (max-width: 1000px){

  .main__character{
    font-size: 3.5rem;
    line-height: 50px;
    font-weight: 600;
    color: steelblue;
    text-align: center;
    margin-bottom: 50px;
  }

  .main__episodes{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-top: 40px;
    width: 100%;
  }

  .main__imgEpisodes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),  rgba(112, 2, 255, 0.397)), url(../../../../assets/img/episodes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    background-attachment: fixed;
  }

  .main__titletwo{
    font-size: 3rem;
    padding: 0 20px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    margin-bottom: 70px;
    filter: drop-shadow(3px 3px 7px navy);
  }

  .main__cta{
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    width: 220px;
    height: 70px;
    border-radius: 10px;
    border: none;
    color: rgb(174, 255, 255);
    font-size: 1.8rem;
    box-shadow: 2px 2px 10px orange;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s;
  }

  .main__cta:hover {
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 10%, #56317a 150%);
    color:#fff

  }
}
