<app-hero></app-hero>
<section class="main__characters main">
  <h1 class="main__character container">Collection Characters</h1>
  <div class="container_cards">
    <app-cards
    [cards]="character"
    *ngFor="let character of characters">
    </app-cards>
  </div>
</section>
<section  class="main__episodes containerT main">
  <div class="main__imgEpisodes">
    <h2 class="main__titletwo">See a list of its best episodes</h2>
    <a routerLink="/episodes" class="main__cta">All Episodes</a>
  </div>
</section>



